<section class="bg-light py-3 px-5">
  <button class="btn btn-success mb-2 shadow-none" (click)="iniciarApp()">
    Obtener informacion
  </button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID Operacion</th>
        <th scope="col">Numero de cuenta</th>
        <th scope="col">Fecha de solicitud</th>
        <th scope="col">Tipo de cheque</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <!--<tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>-->
    </tbody>
  </table>
</section>
